<div class="container">
  <div>
    <div class="scotch"></div>
  </div>
  <div>
    <%= link_to projets_path do %>
      <%= image_tag("fleche.png", alt: "image de projet", class: "button-home")%>
    <% end %>
  </div>
  <div>
    <div class="smiley"></div>
  </div>
  <div>
    <div class="etoile"></div>
    <%#= image_tag("etoilerose.png", class: "etoile") %>
  </div>
  <div class="container fond-bord">
    <div class="home-title">
      <h1 class="title-text-2">Hello, I’m Aurore</h1>
      <h1 class="title-text">> Developper Front-End <br>+ Product Designer</h1>
      <h1 class="title-text-2">> also Illustration <br>+ Graphic Design</h1>
    </div>
  </div>
</div>
