.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 12px;
  height: 80px;
  padding: 0px 100px;
  color: rgba(0,0,0,0.3);
  position: relative;
  bottom: 0;
  margin-top: 10%;
}
