.bloc-description {
  display: flex;
  //position: absolute;
  z-index: 1;
  //top: 47rem;
  //left: 42rem;
}


.carousel-rectangle {
  padding: 20px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 20px;
  background-color: white;
  width: 1120px;
  height: 660px;
  margin-left: 10%;
}

.carousel-rectangle img {
  max-width: 100%;
  max-height: 100%;
}

.images-projets {
  padding: 20px;
  margin-left: 2%;
}

.carousel-back {
  transform: translate(-150px, -43px);
}

.icon-carousel {
  width: 150px;
  opacity: 1;
  z-index: 1;
}

.carousel-control-prev {
  left: -8%;
}

.carousel-control-next {
  left: 90%;
}

.infos {
  //width: 30rem;
  padding: 2rem;
  width: 310px;
  text-align: right;
}

.description {
  width: 30rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.description a {
  text-decoration: none;
  color: black;
}

.description a:hover {
  color: #FF5A9F;
}

.trait {
  top: 2rem;
  margin-top: 3rem;
}

.button-back {
  width: 6rem;
  position: absolute;
  top: 848px;
}

.button-back:hover {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.bloc-bck {
  padding: 3rem;
  padding-bottom: 9rem;
  margin-left: -40rem;
  text-align: center;
  width: auto;
}

.button-next {
  width: 5rem;
}

.button-next:hover {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.bloc-next {
  margin-left: 85rem;
  margin-top: -42rem;
  z-index: 1;
  position: absolute;
}

.logo_fond {
  left: -5.25rem;
  width: 6rem;
  position: absolute;
  top: -6.5rem;
}

.logo_a {
  left: -4.7rem;
  width: 5rem;
  position: absolute;
  top: -6rem;
  z-index: 1;
  transform: none;
}

.logo img {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangle {
  margin-left: 2rem;
}

.desc {
  width: 49rem;
  position: absolute;
  left: 51rem;
  top: 47rem;
}

//

.container-desc {
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 830px;
  right: 130px;
}

.border-parent {
  border: solid 2px black;
  border-radius: 20px;
  background-color: white;
  height: 100%;
}

.border-content {
  padding: 20px;
  border: solid 2px black;
  border-radius: 20px;
  background-color: white;
}

.offset {
  transform: translate(-10px, -10px);
}
